body {
  box-sizing: border-box;
}
div,
section,
nav,
p,
ul,
li,
ol,
aside,
img {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-cursol {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.sf-cursol .prev {
  width: 12%;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#111), to(transparent));
}
.sf-cursol .prev:hover {
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#000), to(transparent));
}
.sf-cursol .next {
  width: 12%;
  position: absolute;
  right: 0;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#111), to(transparent));
}
.sf-cursol .next:hover {
  background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#000), to(transparent));
}
.sf-cursol .body-cursol {
  position: absolute;
  left: 0;
  transition: all,0.5s;
}
.sf-cursol .body-cursol img {
  float: left;
}
.sf-cursol .nav-cursol {
  position: absolute;
  top: 90%;
  left: 45%;
}
.sf-cursol .nav-cursol li {
  background-color: #ff5b73;
  padding: 10px;
  border-radius: 50%;
  float: left;
  margin-left: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.sf-cursol .nav-cursol :hover {
  background-color: #FFFFFF;
}
